@model (string sNotification, string sUserName, string sFullName, string sPageTitle)

<nav id="navbar" class="navbar navbar-header navbar-expand navbar-light navbar-bg fixed-top ">
    <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
    <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-brand">@{WriteLiteral(Model.sPageTitle);}</span>
            </li>
        </ul>
        <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
            <li class="dropdown nav-icon">
                <a href="#" data-toggle="modal" data-target="#NotificationModal" class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                    <div class="d-lg-inline-block">
                        <i data-feather="bell"></i>
                        <span class="indicator">15</span>
                    </div>
                </a>               
            </li>
            <li class="nav-icon">
                <a href="/user/@Model.sUserName" class="nav-link nav-link-lg nav-link-user">
                    <div class="avatar mr-1">
                        <img src="/assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                    </div>
                    <div class="d-none d-md-block d-lg-inline-block">@Model.sFullName</div>
                </a>
            </li>
        </ul>
    </div>
</nav>